{include file='public/head'}
<div id="container">
    {include file='public/nav'}
    <div id="content">
        <div id="content-header">
        </div>
        <div id="content-list">
            <ul>
                {volist name='houseInfo' id='vo'}
                <a href="{:url('index/detail',['house_id' => $vo.id])}">
                    <li class="box pull-left">
                        <div class="img-box"><img src="{$vo.image}" width="200px"></div>
                        <div class="text-box">名字：{$vo.name}</div>
                        <span>价格：{$vo.price}</span>
                    </li>
                </a>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{include file='public/foot'}
</body>
</html>