{include file='public/head'}
<div id="container">
    {include file='public/nav'}
    <div id="content">
        <div id="content-header">
        </div>
        <div id="content-list">
            <ul>
                <a href="#">
                    <li class="box pull-left">
                        <div class="img-box"><img src="__STATIC__/dist/img/user2-160x160.jpg"></div>
                        <div class="text-box">666</div>
                    </li>
                </a>
                <li class="box pull-left">
                    <div class="img-box"><img src="__STATIC__/dist/img/user3-128x128.jpg"></div>
                    <div class="text-box">222</div>
                </li>
                <li class="box pull-left">
                    <div class="img-box"><img src="__STATIC__/dist/img/user1-128x128.jpg"></div>
                    <div class="text-box">333</div>
                </li>
                {volist name='houseInfo' id='vo'}
                <a href="{:url('index/detail',['house_id' => $vo.id])}">
                    <li class="box pull-left">
                        <div class="img-box"><img src="{$vo.image}" width="200px"></div>
                        <div class="text-box">{$vo.name}</div><span>{$vo.price}</span>
                    </li>
                </a>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{include file='public/foot'}
<script>

</script>
</body>
</html>