{include file='public/head'}
<div class="pd-20">
    <form action="{:url('userinfo/add')}" method="post" class="form form-horizontal" id="demoform">
        <fieldset>
            <legend>个人信息</legend>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">用户名：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input class="input-text" autocomplete="off" name="username" value="{$user->username}" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">昵称：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input type="text" class="input-text" autocomplete="off" name="nickname" value="{$userinfo.nickname}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">性别：</label>
                <div class="formControls skin-minimal col-xs-4 col-sm-3">
                    <div class="radio-box">
                        <input type="radio" id="yes-1" name="sex" value="1"
                               style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;" {if condition="$userinfo.sex eq 1"}checked{/if}>
                        <label for="yes-1">男</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="no-0" name="sex" value="0"
                               style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;" {if condition="$userinfo.sex eq 0"}checked{/if}>
                        <label for="no-0" class="">女</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">身份：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input type="text" class="input-text" autocomplete="off" name="character" value="{:showCharacter($user->character_id)}" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">所在地：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <span class="select-box">
							<select id="city" class="select" size="1" name="city"
                                    onmousedown="this.size=6" onblur="this.size=1" onchange="this.size=1">
								<option value="0">选择一级地区</option>
                                {volist name='citysInfo' id='vo'}
								<option value="{$vo.id}" {if condition="getCityName($userinfo.region,0) eq $vo.id"}selected{/if}>{$vo.name}</option>
                                {/volist}
							</select>
                    </span>
                </div>
                <div class="formControls col-xs-4 col-sm-3">
                    <span class="select-box">
							<select id="se_city" class="select" size="1" name="se_city" autocomplete="off"
                                    onmousedown="this.size=6" onblur="this.size=1" onchange="this.size=1">
								<option value={:getCityName($userinfo.region,1)}>{:getCityName($userinfo.region,2)}</option>
							</select>
                    </span>
                </div>
            </div>
            <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">邮箱：</label>
            <div class="formControls col-xs-4 col-sm-3">
                <input type="email" class="input-text" autocomplete="off" name="email" value="{$userinfo->email}">
            </div>
        </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">电话：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input type="text" class="input-text" autocomplete="off" name="mobile" value="{$userinfo->mobile}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">生日：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input id="birthday" type="text" class="input-text" autocomplete="off" name="birthday" value="{$userinfo.birthday}">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input type="hidden" name="id" value="{$userinfo['id']}">
                    <input type="hidden" name="user_id" value="{$user->id}">
                    <input class="btn btn-primary radius" type="submit" value="修改">
                </div>
            </div>
        </fieldset>
    </form>
</div>
{include file='public/foot'}
<script>
    var SCOPE ={
        'city_url' : "{:url('api/city/getCitysByParentId')}"
    };
    var flag = 1;
    var once = function () {
        //只运行一次
        if(flag){
            //二级城市获取-点击二级
            city_id = $('#city').val();
            url = SCOPE.city_url;
            postData = {'id' : city_id};
            $.post(url,postData,function (res) {
                if(res.status === 1){
                    data = res.data;
                    city_html = "";
                    $(data).each(function () {
                        city_html += "<option value="+this.id+">"+this.name+"</option>";
                    });
                    $('#se_city').html(city_html);
                }else if(res.status === 0){
                    $('#se_city').html('');
                }
            });
            flag = 0;
        }
    };
    $(function () {
        //单选框
        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //时间插件
        $('#birthday').datetimepicker({
            format:'yyyy-mm-dd',
            minView:'month'
        });

        //二级城市获取-点击一级
        $('#city').click(function () {
            city_id = $(this).val();
            url = SCOPE.city_url;
            postData = {'id' : city_id};
            $.post(url,postData,function (res) {
                if(res.status === 1){
                    data = res.data;
                    city_html = "";
                    $(data).each(function () {
                        city_html += "<option value="+this.id+">"+this.name+"</option>";
                    });
                    $('#se_city').html(city_html);
                }else if(res.status === 0){
                    $('#se_city').html('');
                }
            },'json');
        });
        //二级城市获取-点击二级
        $('#se_city').click(function () {
            once();
        });
    });

</script>
</body>
</html>