<header class="navbar-wrapper">
    <div class="navbar navbar-black">
        <div class="container cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="#">House</a>
            <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="#">House</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs"></span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                <ul class="cl">
                    <li class="current"><a href="/">首页</a></li>
                    <li class="dropDown dropDown_hover"><a id="city" href="#" class="dropDown_A">{$city}<i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            {volist name='citys' id='vo'}
                            <li><a href="{:url('index/index',['city' => $vo.name,'id' => $vo.id])}">{$vo.name}</a></li>
                            {/volist}
                        </ul>
                    </li>
                    <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A"><span id="se_city">{$se_city}</span><i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            {volist name='se_citys' id='vo'}
                            <li><a class="se_name" href="{:url('index/index',['se_city' => $vo.name,'se_city_id' => $vo.id])}">{$vo.name}</a></li>
                            {/volist}
                        </ul>
                    </li>
                    {if condition="$user"}
                    <li class="f-r"><a href="{:url('user/login/logout')}">退出</a></li>
                    <li class="f-r"><a>欢迎您：{$user->username}</a></li>
                    {else /}
                    <li class="f-r"><a href="{:url('user/register/index')}">注册</a></li>
                    <li class="f-r"><a href="{:url('user/login/index')}">登录</a></li>
                    {/if}
                </ul>
            </nav>
            <nav class="navbar-userbar hidden-xs">
            </nav>
        </div>
    </div>
</header>