{include file='public/head'}
<div class="pd-30">
    <table class="table table-border table-bg table-bordered table-hover">
        <thead>
        <tr>
            <th width="5%">序号</th>
            <th width="10%">预约房屋</th>
            <th width="10%">预约租客</th>
            <th width="5%">状态</th>
            <th width="10%">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='keys' id='vo'}
        <tr>
            <th>{$vo}</th>
            <th>{:houseShowById($vo)}</th>
            <th>{:renterName($houseArr[$vo])}</th>
            <th>{:orderStatusBylandlord($statusArr[$vo])}</th>
            <th>
                {if condition="$statusArr[$vo] eq 0"}
                <a href="{:url('order/status',['status' => 1,'house_id' => $vo])}"><i class="Hui-iconfont">&#xe6e1;</i>接受</a>
                <a onclick="system_deny('{:url('order/status',['status' => -1,'house_id' => $vo])}')"><i class="Hui-iconfont">&#xe6dd;</i>拒绝</a>
                {/if}
            </th>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{include file='public/foot'}
<script src="__STATIC__/dist/js/common.js"></script>
</body>
</html>