{include file='public/head'}
<div class="pd-20">
    <form action="{:url('city/save')}" method="post" class="form form-horizontal" id="demoform">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">城市名字：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="name" value="{$cityInfo.name}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">别名：</label>
                <div class="formControls col-xs-4 col-sm-3">
                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="uname" value="{$cityInfo.uname}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否为省城：</label>
                <div class="formControls skin-minimal col-xs-4 col-sm-3">
                    <div class="radio-box">
                        <input type="radio" id="yes-1" name="is_main" value="1" {if condition="$cityInfo.is_main eq 1"}checked=""{/if}
                               style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;">
                        <label for="yes-1">是</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="no-0" name="is_main" value="0" {if condition="$cityInfo.is_main eq 0"}checked=""{/if}
                               style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;">
                        <label for="no-0" class="">否</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">所属省市：</label>
                <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
							<select class="select" size="1" name="parent_id">
								<option value="0" selected="">无</option>
                                {volist name='citysInfo' id='vo'}
								<option value="{$vo.id}" {if condition="$cityInfo.parent_id eq $vo.id"}selected="selected"{/if}>{$vo.name}</option>
								{/volist}
							</select>
							</span></div>
            </div>
            <div class="row cl">
                <input type="hidden" name="id" value="{$cityInfo->id}">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="保存">
                </div>
            </div>
    </form>
</div>
{include file='public/foot'}
<script>
    $(function(){
        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
</script>
</body>
</html>